   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
    }
    header {
        background-color: #ffffff;
        padding: 16px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
      }
      
      .logo {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
      .logo img {
        width: 60px;
        height: auto;
        cursor: pointer;
      }
      
      .logo span {
        font-size: 28.8px;
        font-weight: bold;
        color: #00c73c;
        cursor: pointer;
      }
      
    .container {
      max-width: 900px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
    }
    .header {
      display: flex;
      gap: 20px;
    }
    .img {
      width: 160px;
      border-radius: 8px;
    }
    .info {
      flex-grow: 1;;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    .author {
      margin-top: 5px;
      color: gray;
    }
    .desc {
      margin-top: 15px;
      line-height: 1.6;
    }
    .tags {
      margin-top: 10px;
    }
    .tag {
      background-color: #e0e0e0;
      display: inline-block;
      padding: 4px 10px;
      margin-right: 5px;
      border-radius: 20px;
      font-size: 12px;
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }
    .btn {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
    .btn.secondary {
      background-color: #e0e0e0;
      color: #333;
    }
    .episode-list {
      margin-top: 30px;
    }
    .episode {
      display: flex;
      align-items: center;
      background: #f1f1f1;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .ep-thumbnail {
      width: 100px;
      height: 60px;
      background-color: #ddd;
      margin-right: 15px;
      border-radius: 6px;
    }
    .ep-info {
      flex-grow: 1;
    }
    .ep-title {
      font-weight: bold;
    }
    .ep-date {
      font-size: 13px;
      color: gray;
    }